.App {
  margin: auto;
  padding-top: 2%;
  padding-bottom: 5%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.section-title {
  display: block;
}
.hr {
  border-bottom: 2px solid #000;
}
p.recordType {
  font-size: 1rem;
}
